.style-layout{
    width: 6.4rem;
    min-height: 2rem;
}
.style_logo,.style_banner,.style_new,.style_hot,.style_fasion,.style_footer{
    width: 6.4rem;

}
.style_logo{
    z-index: 1000;
    background: #fafafa;
    bottom: 0;
    position: relative;
   height: 0.8rem;

}
.style_logo img{
    margin-left: 0.2rem;
    margin-top: 0.21rem;
    width: 0.45rem;
}
.style_logo p{
    text-align: center;
    position: relative;
    bottom: 0.5rem;
    font-size: 0.4rem;
    color: #151515;
    font-family:华文行楷;
    font-weight: lighter;
}
.style_banner{
    text-align: center;
    margin-top: 1.4rem;
    display: block;
}
.style_banner img{
    width: 2.5rem;
}
.style_bannera{
    text-align: center;
}
.style_bannera button{
    border: 1px solid #B4282D;
    background: #B4282D;
    color: white;
    padding: 0.22rem;
    width: 90%;
    margin-top: 1rem;
    font-size: 0.26rem;
    border-radius: 3px;
}
.bannera{
    text-align: center;
    margin-top: 1rem;
    color: #7f7f7f;
}
.bannera a{
    color: #000;
}
.bannera ul{
    width: 100%;
    margin-left: 0.2rem;
}
.bannera ul li{
    float: left;
    width: 32%;
    font-size: 0.25rem;
}
.bannera ul li img{
    width: 0.3rem;

}
.bannera ul li span{
    top: 0.1rem;
}